<div id="EditTenant" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between
            center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/tenant-management'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="tenant-image mr-8 mr-sm-16" [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }">
                    <!-- <img *ngIf="tenant.images[0]"
                        [src]="tenant.images[0].url"> -->
                    <img style="max-width: 56px;" [src]="
                            'assets/images/ecommerce/tenant-image-placeholder.png'
                        " />
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }">
                    {{ tenant.Name }}
                    <!-- <div class="h2" *ngIf="pageType ==='edit'">
                        {{tenant.Name}}
                    </div> -->
                    <!-- <div class="h2" *ngIf="pageType ==='new'">
                        New Tenant
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Tenant Detail</span>
                    </div> -->
                </div>
            </div>
            <!-- / APP TITLE -->

            <!-- <button mat-raised-button
                class="save-tenant-button"
                [disabled]="tenantForm.invalid"
                *ngIf="pageType ==='new'">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                class="save-tenant-button"
                [disabled]="tenantForm.invalid || tenantForm.pristine"
                *ngIf="pageType ==='edit'">
                <span>SAVE</span>
            </button> -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" style="max-height: fit-content;">
            <!-- CONTENT -->
            <div class="content">
                <!-- <form name="tenantForm" [formGroup]="tenantForm"
                    class="tenant w-100-p" fxLayout="column" fxFlex> -->
                <mat-tab-group>
                    <mat-tab label="Basic Information">
                        <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
                            <form *ngIf="tenant" [formGroup]="tenantForm" (ngSubmit)="updateTenant(tenant)">
                                <div *ngIf="showLoadingIndicator" class="spinner"></div>

                                <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row"
                                    fxLayoutAlign.gt-sm="start start" style="border-bottom: 1px #949494 solid;">

                                    <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="50%" fxLayout.gt-sm="row">
                                        <div fxFlex="100" fxFlex.gt-sm="100%">


                                            <div fxLayoutAlign="start" fxLayout.gt-sm="row"
                                                fxLayoutAlign.gt-sm="start start">
                                                <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="100%"
                                                    fxLayout.gt-sm="row">
                                                    <div fxFlex="100" style="display: block;">
                                                        <div *ngIf="code">
                                                            <mat-label>Tenant Code :<b> {{tenantCode}}</b></mat-label>
                                                        </div>
                                                    </div>
                                                    <div fxFlex="100" style="display: block;">

                                                        <mat-form-field appearance="legacy" class="wp-60 width-75">
                                                            <mat-label>Tenant Name <span
                                                                    style="color: red;"><b>*</b></span>
                                                            </mat-label>
                                                            <input matInput placeholder="Tenant Name"
                                                                formControlName="Name"
                                                                [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" />
                                                        </mat-form-field>
                                                        <div *ngIf="submitted && f.Name.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f.Name.errors.required" style="color: red;">Name
                                                                is
                                                                required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div fxLayoutAlign="start" fxLayout.gt-sm="row"
                                                fxLayoutAlign.gt-sm="start start">
                                                <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="100%"
                                                    fxLayout.gt-sm="row">
                                                    <div fxFlex="100" style="display: block;">
                                                        <mat-form-field appearance="legacy" class="wp-60 width-75">
                                                            <mat-label>Description</mat-label>
                                                            <textarea matInput placeholder="Description"
                                                                formControlName="Description"></textarea>
                                                        </mat-form-field>
                                                    </div>
                                                    <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="50%"
                                                        fxLayout.gt-sm="row">
                                                        <mat-form-field style="min-width: 70%;">
                                                            <mat-label>Status</mat-label>
                                                            <mat-select formControlName="Status">
                                                                <mat-option *ngFor="let status of statusesList"
                                                                    [value]="status">
                                                                    {{ status }}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>


                                            </div>
                                            <div formGroupName="Address">

                                                <div fxLayoutAlign="start" fxLayout.gt-sm="row"
                                                    fxLayoutAlign.gt-sm="start start">
                                                    <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="100%"
                                                        fxLayout.gt-sm="row">
                                                        <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="100%"
                                                            fxLayout.gt-sm="row">
                                                            <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="50%"
                                                                fxLayout.gt-sm="row">
                                                                <mat-form-field appearance="legacy"
                                                                    class="wp-60 width-75">
                                                                    <mat-label>Street</mat-label>
                                                                    <input matInput placeholder="Street"
                                                                        formControlName="Street" />
                                                                </mat-form-field>
                                                            </div>
                                                            <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="50%"
                                                                fxLayout.gt-sm="row">
                                                                <mat-form-field appearance="legacy"
                                                                    class="wp-60 width-75">
                                                                    <mat-label>Area</mat-label>
                                                                    <input matInput placeholder="Area"
                                                                        formControlName="Area" />
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div fxLayoutAlign="start" fxLayout.gt-sm="row"
                                                    fxLayoutAlign.gt-sm="start start">
                                                    <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="100%"
                                                        fxLayout.gt-sm="row">
                                                        <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="50%"
                                                            fxLayout.gt-sm="row">

                                                            <mat-form-field appearance="legacy" class="wp-60 width-75">
                                                                <mat-label>City</mat-label>
                                                                <input matInput placeholder="City"
                                                                    formControlName="City" />
                                                            </mat-form-field>
                                                        </div>
                                                        <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="50%"
                                                            fxLayout.gt-sm="row">

                                                            <div fxFlex="100" style="display:block ;">
                                                                <mat-form-field class="wp-60">
                                                                    <mat-label>Country <span style="color: red;"><b>*</b></span></mat-label>
                                                                    <mat-select formControlName="Country"   [ngClass]="{'is-invalid': submitted && fa.Country.errors }">
                                                                        <mat-option *ngFor="let country of Countries" [value]="country">
                                                                            {{ country }}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                                <div *ngIf="submitted && fa.Country.errors" class="invalid-feedback">
                                                                    <div *ngIf="fa.Country.errors.required" style="color: red;">Country is required</div>
                                                                </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div fxLayoutAlign="start" fxLayout.gt-sm="row"
                                                    fxLayoutAlign.gt-sm="start start">
                                                    <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="100%"
                                                        fxLayout.gt-sm="row">
                                                        <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="50%"
                                                            fxLayout.gt-sm="row">
                                                            <div fxFlex="100" style="display:block ;">
                                                                <mat-form-field style="min-width: 80%;">
                                                                    <mat-label>State <span style="color: red;"><b>*</b></span></mat-label>
                                                                    
                                                                    <input matInput placeholder="State" formControlName="State" [ngClass]="{'is-invalid': submitted && fa.State.errors }" />
                                                                </mat-form-field>
                                                                <div *ngIf="submitted && fa.State.errors" class="invalid-feedback">
                                                                    <div *ngIf="fa.State.errors.required" style="color: red;">State is required</div>
                                                                </div>
                                                                </div>

                                                        </div>
                                                        <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="50%"
                                                            fxLayout.gt-sm="row">

                                                            <div fxFlex="100" style="display:block ;">
                                                                <mat-form-field appearance="legacy" class="wp-60">
                                                                    <mat-label>ZipCode <span style="color: red;"><b>*</b></span></mat-label>
                                                                    <input matInput placeholder="ZipCode" formControlName="ZipCode"  [ngClass]="{'is-invalid': submitted && fa.ZipCode.errors }"/>
                                                                   
                                                                </mat-form-field>
                                                                <div *ngIf="submitted && fa.ZipCode.errors" class="invalid-feedback">
                                                                    <div *ngIf="fa.ZipCode.errors.required" style="color: red;">ZipCode is required</div>
                                                                </div>
                                                                </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div fxFlex="100" fxFlex.gt-sm="50%">
                                           <mat-accordion class="example-headers-align" formArrayName="ContactDetails">
                                            <div *ngFor="let group of contactArray.controls; let i =index"
                                                [formGroupName]="i" style="padding: 3px;">
                                                <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)"
                                                    hideToggle>
                                                    <mat-expansion-panel-header class="mat-expansion-border">
                                                        <mat-panel-title>
                                                                Contact Details.
                                                        </mat-panel-title>

                                                    </mat-expansion-panel-header>
                                                    <div fxLayoutAlign="start" fxLayout.gt-sm="row"
                                                        fxLayoutAlign.gt-sm="start start">
                                                        <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="100%"
                                                            fxLayout.gt-sm="row">
                                                            <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="100%"
                                                                fxLayout.gt-sm="row">
                                                                <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="50%"
                                                                    fxLayout.gt-sm="row">
                                                                    <!-- <mat-form-field
                                                                        style="width: -webkit-fill-available;">
                                                                        <input matInput placeholder="Name"
                                                                            formControlName="Name" />
                                                                    </mat-form-field> -->
                                                                    <div fxFlex="100" style="display:block ;">
                                                                        <mat-form-field style="width: -webkit-fill-available;">
                                                                            <mat-label>Name <span style="color: red;"><b>*</b></span>
                                                                            </mat-label>
                                                                            <input matInput placeholder="Name" formControlName="Name" />
                                                                        </mat-form-field>
                                                                        <div *ngIf="submitted &&  contactArray.controls[i].get('Name').errors?.required"
                                                                            class="invalid-feedback">
                                                                            <div *ngIf="contactArray.controls[i].get('Name').errors?.required" style="color: red;">Name is required</div>
                                                                        </div>
                                                                        </div>

                                                                </div>
                                                                <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="50%"
                                                                    fxLayout.gt-sm="row">

                                                                    <mat-form-field
                                                                        style="width: -webkit-fill-available;">
                                                                        <input matInput placeholder="Job Title"
                                                                            formControlName="JobTitle" />
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div fxLayoutAlign="start" fxLayout.gt-sm="row"
                                                        fxLayoutAlign.gt-sm="start start">
                                                        <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="100%"
                                                            fxLayout.gt-sm="row">
                                                            <div fxFlex="100" fxLayout="column" fxFlex.gt-sm="100%"
                                                                fxLayout.gt-sm="row">
                                                                <div fxFlex="100" style="display:block ;">
                                                                    <mat-form-field
                                                                        style="width: -webkit-fill-available;">

                                                                        <mat-label>Phone Number<span
                                                                                style="color: red;"><b>*</b></span>
                                                                        </mat-label>
                                                                        <input matInput placeholder="Phone Number"
                                                                            formControlName="Phone" />
                                                                    </mat-form-field>
                                                                    <div *ngIf="submitted &&  contactArray.controls[i].get('Phone').errors?.required"
                                                                        class="invalid-feedback">
                                                                        <div *ngIf="contactArray.controls[i].get('Phone').errors?.required"
                                                                            style="color: red;">Phone is
                                                                            required</div>
                                                                    </div>
                                                                    <div *ngIf="contactArray.controls[i].get('Phone').errors?.pattern"
                                                                        class="invalid-feedback" style="color: red;">
                                                                        Please enter only Numbers!
                                                                    </div>

                                                                </div>
                                                                <div fxFlex="100" style="display: block;">
                                                                    <mat-form-field
                                                                        style="width: -webkit-fill-available;">
                                                                        <mat-label>Email <span
                                                                                style="color: red;"><b>*</b></span>
                                                                        </mat-label>
                                                                        <input matInput placeholder="Email"
                                                                            formControlName="Email" />
                                                                    </mat-form-field>
                                                                    <div *ngIf="submitted &&  contactArray.controls[i].get('Email').errors?.required"
                                                                        class="invalid-feedback">
                                                                        <div *ngIf="contactArray.controls[i].get('Email').errors?.required"
                                                                            style="color: red;">Email is
                                                                            required</div>
                                                                    </div>
                                                                    <div *ngIf="contactArray.controls[i].get('Email').errors?.email"
                                                                        class="invalid-feedback" style="color: red;">
                                                                        Please enter valid email format!
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div style="display: flex;" fxLayoutAlign="flex-start">
                                                        <mat-checkbox formControlName="IsPrimary">
                                                            set as primary
                                                        </mat-checkbox>
                                                    </div>

                                                    <mat-action-row>
                                                        <div *ngIf="i < 2">

                                                            <div (click)="addContact(i)">
                                                                <mat-icon style="color: #039BE5 !important;"> add_circle
                                                                </mat-icon>
                                                            </div>
                                                            <!-- <button mat-button  type="button" style="font-size: x-small;"  class="save-button  mat-raised-button mat-accent" aria-label="SAVE">
                                                                            <mat-icon>add_box</mat-icon>
                                                                            </button> -->
                                                        </div>
                                                        <div *ngIf="i > 0">
                                                            <!-- <button mat-button  type="button" style="font-size: x-small;" color="primary">
                                                                            remove contact
                                                                        </button> -->
                                                            <div (click)="removeContact(i)">
                                                                <mat-icon style="color: #039BE5 !important;">
                                                                    remove_circle </mat-icon>
                                                            </div>
                                                        </div>
                                                    </mat-action-row>
                                                </mat-expansion-panel>
                                            </div>
                                        </mat-accordion>
                                    </div>
                                </div>
                                <mat-divider style="padding: 5px;"></mat-divider>
                                <div style="display: flex;" fxLayoutAlign="end end"
                                    style="padding: 5px; margin-top: 10px;">
                                    <a [routerLink]="'/tenant-management'"  class="a-tag mr-0 mr-sm-16 cancelbtn"> Cancel</a>
                                    <div *ngIf="code">
                                        <button mat-button class="save-button  mat-raised-button mat-accent"
                                            aria-label="SAVE">
                                            Update
                                        </button>
                                    </div>   
                                </div>

                            </form>

                            <!-- <div fxLayout="row"
                                    fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline"
                                        floatLabel="always" fxFlex="30">
                                        <mat-label>Width</mat-label>
                                        <input matInput placeholder="Width"
                                            name="Width"
                                            formControlName="width">
                                        <span matSuffix>cm</span>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline"
                                        floatLabel="always" fxFlex="30">
                                        <mat-label>Height</mat-label>
                                        <input matInput placeholder="Height"
                                            name="Height"
                                            formControlName="height">
                                        <span matSuffix>cm</span>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline"
                                        floatLabel="always" fxFlex="30">
                                        <mat-label>Depth</mat-label>
                                        <input matInput placeholder="Depth"
                                            name="Depth"
                                            formControlName="depth">
                                        <span matSuffix>cm</span>
                                    </mat-form-field>

                                </div>

                                <mat-form-field appearance="outline"
                                    floatLabel="always" class="w-100-p">
                                    <mat-label>Weight</mat-label>
                                    <input matInput placeholder="Weight"
                                        name="Weight"
                                        formControlName="weight">
                                    <span matSuffix>kg</span>
                                </mat-form-field> -->
                        </div>
                    </mat-tab>
                    <mat-tab label="Users">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            Not yet implemented!
                        </div>
                    </mat-tab>
                    <mat-tab label="Billing">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            Not yet implemented!
                        </div>
                    </mat-tab>
                    <mat-tab label="Licensing">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            Not yet implemented!
                        </div>
                    </mat-tab>
                </mat-tab-group>
                <!-- </form> -->
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>