:host {

    .folded:not(.unfolded) & {

        .nav-link {

            > .nav-link-title,
            > .nav-link-badge {
                opacity: 0;
                transition: opacity 200ms ease;
            }
        }
    }
}

.cy-nav-icon{
    height: 15px !important;
}