@import "src/@fuse/scss/fuse";

#newCampaign {
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px;
  }

  .mat-form-field-label-wrapper {
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.87);
  }

  .mat-form-field-prefix .mat-icon,
  .mat-form-field-suffix .mat-icon {
    font-size: 100%;
  }

  .mat-header-row {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .mat-form-field-label {
    /*change color of label*/
    color: black !important;
    font-size: 14px !important;
  }

  .header {
    .no-search {
      width: 100%;
      min-width: 60px;
      max-width: 100%;
      border-radius: 28px;
      background: white;
      overflow: hidden;
      margin: 0 5px;
      @include mat-elevation(1);

      .element {
        height: 35px;
        line-height: 35px;
        padding: 0 10px;

        input {
          width: 100%;
          height: 35px;
          min-height: 35px;
          max-height: 35px;
          padding: 0 10px;
          margin-top: 0 !important;
          border: none;
          outline: none;
          color: #757575;
        }

        .mat-select-arrow {
          color: #757575 !important;
        }

        .mat-select-value {
          color: rgba(0, 0, 0, 0.87);
        }
      }
    }

    .search-wrapper {
      width: 100%;
      max-width: 100%;
      min-width: 60px;
      border-radius: 28px;
      background: white;
      overflow: hidden;
      @include mat-elevation(1);

      .search {
        width: 100%;
        height: 35px;
        line-height: 35px;
        padding: 0 10px;
        color: #757575;

        input {
          width: 100%;
          height: 35px;
          min-height: 35px;
          max-height: 35px;
          padding: 0 10px;
          border: none;
          outline: none;
          color: #757575;
        }
      }
    }
  }

  .content {
    overflow: hidden;
    .sidebar {
      &:not(.locked-open) {
        background: white;
      }
    }
  }
}

.p-5 {
  padding: 5px !important;
}

.p-12 {
  padding: 5px !important;
}

@media (min-width: 0) and (max-width: 768px) {
  .header {
    height: auto !important;
    min-height: auto !important;
    max-height: none !important;
    flex-direction: column !important;

    .noflex {
      flex: 0 !important;
    }

    .hdr {
      flex-direction: column !important;
      align-items: flex-start !important;
      width: 100%;

      .hdr-form {
        flex-direction: column !important;
        align-items: flex-start !important;
        width: 100% !important;

        .no-search {
          margin: 5px !important;

          .element {
            width: 100% !important;
            height: 35px;
            min-height: 35px;
            max-height: 35px;
          }
        }

        .search-wrapper {
          width: 100%;
          border-radius: 28px;
          background: white;
          overflow: hidden;
          margin-top: 6px !important;
          @include mat-elevation(1);

          .search {
            width: 100%;
            height: 35px;
            line-height: 35px;
            padding: 0 10px;
            color: #757575;

            input {
              width: 100%;
              height: 35px;
              min-height: 35px;
              max-height: 35px;
              padding: 0 10px;
              border: none;
              outline: none;
            }
          }
        }
      }
    }
  }
}

.heading {
  margin-top: -60px;
}

.col1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-header-cell {
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87) !important;
  padding: 0px 10px;
}

.mat-cell {
  padding: 0px 10px;
}

img.tenant-icon {
  max-width: 32px;
  border-radius: 4px;
  border: solid 1px #cccccc;
  padding: 2px;
  margin-right: 8px;
}

.img-text-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 12px;
}

.img-text-wrap span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#newCampaignList table th,
#newCampaignList table td {
  padding-left: 16px;
}

#newCampaign .top-bg.accent {
  height: 209px !important;
}

#newCampaign .header .search-wrapper {
  width: 25%;
}

@media (min-width: 0) and (max-width: 440px) {
  #newCampaign .top-bg.accent {
    height: 312px !important;
  }

  #newCampaign .header .search-wrapper {
    width: 100%;
  }
}

table {
  width: 100% !important;
}

mt-17 {
  margin-top: 17px;
}

table.simple.clickable tbody tr {
  &:hover {
    background-color: #a4c7d9;
  }
}

tr.mat-row {
  height: 52px !important;
}
/* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;

  overflow: auto;
  &:hover {
    background-color: #eeeeee;
  }
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

table.example-table.mat-table tr td {
  border-bottom: 1px solid #e0e0e0;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0px 12px !important;
  width: 150px !important;
}

.mat-header-cell {
  font-size: 14px;
  font-weight: bold;
}

.mat-select-panel {
  max-width: 150px !important;
}
.mat-option {
  font-size: 12px !important;
}

#devices tr.mat-header-row.ng-star-inserted {
  height: 68px !important;
  background: #f5f5f5 !important;
  vertical-align: initial;
}

#devices th.mat-header-cell {
  padding: 8px !important;
}
#devices th.mat-header-cell,
td.mat-cell {
  width: 150px !important;
}

.col-width {
  max-width: 160px !important;
  min-width: 100px !important;
  width: auto !important;
}

@media (min-width: 0) and (max-width: 414px) {
  td.mat-cell,
  td.mat-footer-cell,
  th.mat-header-cell {
    width: 100% !important;
    padding: 0px 10px 0px 10px !important;
  }
  .spinner {
    border: 5px solid rgb(201, 224, 247);
    border-top: 5px solid #337ab7;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 800ms linear infinite;
    top: 50%;
    left: 50%;
    position: absolute;
  }
  @keyframes spin {
    0% {
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

#CreatenewCampaign {
  .mat-checkbox-inner-container {
    width: 12px !important;
    height: 12px !important;
  }
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.mat-card {
  min-width: 100% !important;
  max-width: 100% !important;
}
.table {
  display: block !important;
}

.data {
  max-height: 500px;
  overflow: auto;
}

.mat-header-row {
  height: 72px !important;
}

.border-right {
  border-right: 2px #f5f5f5 solid;
  height: 25px;
  width: 100%;
}

@media (min-width: 0) and (max-width: 440px) {
  #newCampaign .top-bg.accent {
    height: 232px !important;
  }

  #newCampaign .content {
    margin-top: 24px !important;
  }

  #newCampaign .header .search-wrapper {
    width: 100%;
  }

  #newCampaign .mat-row {
    width: fit-content !important;
  }
  #newCampaign .mat-header-row {
    width: fit-content !important;
  }
}

@media (min-width: 430px) and (max-width: 768px) {
  #newCampaign .header .search-wrapper {
    width: 75%;
  }
}
